.root-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.root-layout header {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.root-layout header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.root-layout header nav h1 {
  margin: 0;
}

.root-layout header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.root-layout header nav li {
  margin: 0 10px;
}

.root-layout header nav a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
}

.root-layout header nav a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.root-layout header nav a.active {
  background-color: #000;
  color: #fff;
}

.help-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.help-layout h2 {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
}

.help-layout nav {
  display: flex;
  justify-content: center;
}

.help-layout nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.help-layout nav li {
  margin: 0 10px;
}

.help-layout nav a {
  display: block;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
}

.help-layout nav a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.help-layout nav a.active {
  background-color: #000;
  color: #fff;
}

form {
  margin-top: 30px;
}
form input,
form label span,
form textarea {
  display: block;
}
form input,
form textarea {
  margin-bottom: 30px;
  padding: 8px;
  border-radius: 4px;
  border: 2px solid black;
  width: 300px;
  color: var(--secondary);
}
form label span {
  margin-bottom: 10px;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1280px;
  display: grid;
  justify-items: center;
  gap: 3rem 2rem;
  margin-top: 2rem;
}

.menu-item {
  display: grid;
  gap: 1rem 2rem;
  max-width: 25rem;
  position: relative;
  overflow: hidden;
  background: #fff;
  border-radius: 0.25rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s linear;
  margin-top: 2rem;
}

.menu-item:hover .photo {
  transform: scale(1.1);
}

.photo {
  width: 100%;
  display: block;
  transition: all 0.3s linear;
}

.item-info {
  padding: 1rem;
}

.item-info header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.item-info h4 {
  margin-bottom: 0;
  font-size: 1.5rem;
}

.item-info .price {
  color: #d02f2f;
}

.item-text {
  margin-bottom: 1rem;
  color: #6b6b6b;
  font-size: 0.9rem;
}

.btn {
  display: inline-block;
  background: #d02f2f;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  transition: all 0.3s linear;
  text-decoration: none;
  margin-top: 1rem;
  text-align: center;
}

.btn:hover {
  background: #800000;
}

@media screen and (min-width: 768px) {
  .section-center {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 992px) {
  .section-center {
    grid-template-columns: repeat(3, 1fr);
  }
}

.back-button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.breadcrumbs {
  max-width: 1200px;
  margin: 20px auto;
}
.breadcrumbs > * {
  display: inline-block;
  margin-right: 10px;
}
.breadcrumbs .crumb:after {
  content: "/";
  margin-left: 10px;
}
.breadcrumbs .crumb:last-child:after {
  display: none;
}
.breadcrumbs .crumb a {
  color: #d02f2f;
}
